requests~=2.31.0
Flask~=3.0.0
flask_wtf~=1.2.1
flask_sqlalchemy~=3.1.1
flask_bcrypt~=1.0.1
flask_migrate~=4.0.5
flask_script~=2.0.6
WTForms~=3.1.2
SQLAlchemy~=2.0.25
email_validator~=2.1.0.post1
Werkzeug~=3.0.1
python-dotenv~=1.0.1
schedule~=1.2.1
qrcode~=7.4.2
mock~=5.1.0
waitress~=3.0.0