/* Frontend/Static/styles/Home.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.hdr-card {
  background-color: #F4F3F1;
  color: #090101;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  size: 1%;
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background: #e31837;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  flex-shrink: 0;
}

nav a img {
  margin-right: 0.5rem;
}

.nav-icon {
  display: none;
  cursor: pointer;
}

.nav-icon div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

/* Hero board */

.hero {
  background-image: url('../Images/common/home.png');
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #F4F3F1;
  margin: 1rem;
}

.hero .content {
  text-align: center;
  color: #020202;
  margin-left: 40em;
}

.hero .content h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.note {
  font-size: 2em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Button */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #e31837;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}

/* Highlights */

.highlights {
  padding: 2rem;
  text-align: center;
}

.highlights h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.card img {
  width: 100px;
  border-radius: 50%;
  border: 5px solid #333;
  margin-bottom: 1rem;
}

.menu {
  padding: 2rem;
  text-align: center;
}

.menu h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.dishes {
  display: flex;
  justify-content: space-between;
}

.dish {
  width: 45%;
  border: 2px solid #333;
  padding: 1rem;
  border-radius: 5px;
  text-align: left;
  position: relative;
  transition: transform 0.2s ease-out;
}

.dish:hover {
  transform: translateY(-5px);
}

.dish img {
  width: 100%;
  border-radius: 5px;
}

.dish .price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}


/* Glassmorphism effect */
.hero,
.card,
.dish {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Footer */
footer {
  background-color: rgb(240, 240, 240);
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  flex: 1;
  text-align: left;
  margin-bottom: 10px;
}

.footer-left h3 {
  margin-bottom: 10px;
}

.footer-left p {
  margin: 0;
  font-size: 70%;
}

.footer-left p + p {
  margin-top: 0.5em;
}


.footer-right {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 70%;
}

.footer-right a {
  color: rgb(6, 6, 6);
  text-decoration: none;
}


/* For screens smaller than 600px */
@media (max-width: 600px) {
  .hdr-card {
    padding: 10px;
  }

}
