<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Images/QBlogo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/AddressDetails.css') }}">
    <script src="../Static/js/StatesDropdownGetter.js"></script>
    <title>Address Details</title>
</head>

<body>

  <div class="container">
    <div class="image-container">
      <img src="{{ url_for('static', filename='Images/Address.png') }}" alt="Address Image" height="85%" width="85%">
    </div>

    <div class="form-container">
      <h2>Address Details</h2>
      <form method="POST" action="{{ url_for('address') }}">
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="tokenvalue123">

        <div class="input-container">
          <input type="text" name="line1" placeholder="Line 1">
        </div>

        <div class="input-container">
          <input type="text" name="landmark" placeholder="Land Mark">
        </div>

        <div class="input-container">
          <select id="stateDropdown" name="state" onchange="updateDistricts()">
            <option value="">Select State</option>
          </select>
        </div>

        <div class="input-container">
          <select name="district" id="districtDropdown">
            <option value="">Select District</option>
          </select>
        </div>

        <div class="input-container">
          <input type="text" name="zip_code" placeholder="Zip Code">
        </div>

        <button>Save</button>
      </form>
    </div>
  </div>

</body>
</html>
