<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Registration</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Images/common/QBlogo.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/AdminLogin.css') }}"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card admin-register-card">
          <div class="card-content">
            <span class="card-title">Admin Registration</span>
            <form id="admin-register-form">
              <div class="input-field">
                <input type="text" id="username" name="username" required>
                <label for="username">Username</label>
              </div>
              <div class="input-field">
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
              </div>
              <div class="input-field">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>
              </div>
              <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../Static/js/AdminRegistration.js"></script>
</body>
</html>